

/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
    .call_us_menu .call_us_bottom .phone_numbr a{
        font-size: 1.125rem;
        font-family: 'latobold';
        color: #fff;
    }
    .main_home_searce_domain_content input[type="text"] {
        min-width: 14.1875rem;
    }
    .form-control {
        width: 5.125rem;
        padding: 5px;
    }
    .main_home_searce_domain_content input[type="submit"] {
        max-width: 8.6875rem;
        padding: 0px 7px;
    }
    .single_webhost_left_content h3{
        font-size: 2rem;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature h3 {
        font-size: 1.575rem;
    }


}

/* Portrait tablets and small desktops */
@media  (min-width:769px) and (max-width: 991px) {
    html {
        font-size: 90%;
    }
    .call_us_menu .call_us_bottom .phone_numbr a{
        font-size: 1.025rem;
        font-family: 'latobold';
        color: #fff;
    }
    .main_home_searce_domain_content input[type="text"] {
        min-width: 10.1875rem;
        font-size: 0.875rem;
    }
    .form-control {
        width: 4.125rem;
        height: 56px;
        font-size: 0.875rem;
        padding: 2px;
    }    
    .main_home_searce_domain_content input[type="submit"] {
        max-width: 6.6875rem;
        height: 56px;
        padding: 0px 5px;
        font-size: 0.675rem;
    }  
    .single_webhost_left_content h3{
        font-size: 1.5rem;
    }
    .single_webhost_right_content h3{
        font-size: 1.5rem;
    }
    .main_webhost_service_area .single_webhost_right {
        padding-top: 181px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature h3 {
        font-size: 1.175rem;
    }





}
/* Landscape phones and portrait tablets */
@media (min-width:480px) and (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .header_top_bar{
        display: none;
    }
    /*.call_us_menu{
        text-align: center;
    }
    .call_us_menu .call_us_bottom {
        text-align: center;
    }
    .call_us_menu p{
        margin-bottom: 20px;
    }
    .call_us_menu .call_us_bottom .phone_numbr a {
        font-size: 1.025rem;
    }
    .call_us_menu .phone_numbr {
        padding-left: 10px;
    }*/
    .main_webhost_service_area .single_webhost_left_content p {
        max-width: 60%;
        margin: 0 auto;
    }
    .main_webhost_service_area .single_webhost_right .single_webhost_right_content p {
        max-width: 60%;
        margin: 0 auto;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature {
        margin-bottom: 30px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature p {
        max-width: 50%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .client_left_content {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .single_right_client{
        text-align: center;
        margin-top:20px;
    }
    .main_clients_bottom_content .single_client_bottom {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .main_pricing{
        text-align: center;
    }
    .single_right_planig{
        text-align: center;
    }
    .contactwithmap_menu{
        text-align: center;
    }





}



/* Landscape phones and smaller */
@media (min-width:320px) and (max-width: 479px) {
    html {
        font-size: 65%;
    }
    .header_top_bar{
        display: none;
    }
    .header_top_bar{
        display: none;
    }
    .navbar-brand>img {
        max-width: 70%;
    }
    .main_webhost_service_area .single_webhost_left_content p {
        max-width: 60%;
        margin: 0 auto;
    }
    .main_webhost_service_area .single_webhost_right .single_webhost_right_content p {
        max-width: 60%;
        margin: 0 auto;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature {
        margin-bottom: 30px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature p {
        max-width: 50%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .client_left_content {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .single_right_client{
        text-align: center;
        margin-top:20px;
    }
    .main_clients_bottom_content .single_client_bottom {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .main_pricing{
        text-align: center;
    }
    .single_right_planig{
        text-align: center;
    }
    .contactwithmap_menu{
        text-align: center;
    }
	.slider .single_slider h3 {
    font-size: 2.5rem;
	}



}



@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .header_top_bar{
        display: none;
        
    }
    .navbar-brand>img {
        max-width: 50%;
    }
    .main_webhost_service_area .single_webhost_left_content p {
        max-width: 60%;
        margin: 0 auto;
    }
    .main_webhost_service_area .single_webhost_right .single_webhost_right_content p {
        max-width: 60%;
        margin: 0 auto;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature {
        margin-bottom: 30px;
    }
    .feature .main_feature_content_area .main_feature_content .single_feature p {
        max-width: 50%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .client_left_content {
        text-align: center;
        margin: 0 auto;
        max-width: 60%;
    }
    .clients .main_clients_area .main_clients_top_content .client_left_content p {
        font-size: 0.875rem;
        font-family: 'ralewaylight';
        max-width: 70%;
        margin: 0 auto;
    }

    .clients .main_clients_area .main_clients_top_content .single_right_client{
        text-align: center;
        margin-top:20px;
    }
    .main_clients_bottom_content .single_client_bottom {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .main_pricing{
        text-align: center;
    }
    .single_right_planig{
        text-align: center;
    }
    .contactwithmap_menu{
        text-align: center;
    }
}

